@-moz-document regexp("(https?)://(?!forums)\\w+\\.gta5-mods\\.com.*") {
.file-list .file-list-obj,
.file-list .file-list-obj > .preview,
.file-list .file-list-obj > .preview > .image-responsive {
	border-radius: 0px;
}

.file-list .file-list-obj {
	padding: 0;
}
}
